@import "main.css";

.account-wrapper {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    width: 700px;
    height: 400px;
}

footer{
    padding:10px 50px 10px 50px;
    text-align:center;
    color:white;
}

.card-pad {
    overflow: hidden;
    border-radius: 10px;
    border: 1px var(--theme-color) solid;
}

.card-header {
    background: var(--theme-color);
}

.card-header h2 {
    color: white;
}

.mini {
    font-size: 15px;
}

.normal {
    font-size: 25px;
}

.number {
    font-size: 40px;
}

.large {
    font-size: 30px;
}

.account-right {
    float: right;
    padding: 1.25rem;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

.update{
    padding:20px;
    width:100%;
    margin:auto;
    text-align:center;
    display: block;
}

form {
    display: inline-block;
}

.container{
    display:flex;

    flex-direction:column;
}

.input-box {
    display: flex;
    margin-bottom: 20px;
}

.fix-size {
    width: 100px;
}

.amount-input {
    width: 200px;
    margin-right: 20px;
}