<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block js %}

        {% endblock %}
        {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        {% endblock %}

    <!-- custom CSS -->

    <link rel="stylesheet" href="{{ url_for('static',filename='account.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css')}}">
    {% endblock %}
</head>

<body>
    <div class="topnav">
        <img class="navbar-logo" src="static/logo.png"/>
        <span class="logo-text">ICU Bank</span>
        {% if current_user.is_authenticated %}
        <div class="topnav-right">
            <a class="btn btn-warning" role="button" id="logout-btn" href="{{url_for('auth.logout')}}">Logout</a></a>
        </div>
        {% endif %}
    </div>
    <main>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>