{% extends "base.html"%}

{% block stylesheet %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/account.css') }}"/>
{% endblock stylesheet %}

{% block content %}
<div class="account-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-default card-pad">
                <h2 class="card-header">
                    Account Info
                </h2>
                <div class="card-body">
                    <p class="card-text">
                        {{ data['username'] }}
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        Balance: ${{ data['balance'] }}
                    </p>
                </div>
            </div>
            <div class="update">
                <form method="post" action="/deposit">
                    <div class="input-box">
                        {{ form.amount(class="form-control amount-input", type="number", placeholder="Enter Amount") }}
                        <button type="submit" class="btn btn-primary">
                            Deposit
                        </button>
                    </div>
                </form>

                <form method="post" action="/withdraw">
                    <div class="input-box">
                        {{ form.amount(class="form-control amount-input", type="number", placeholder="Enter Amount") }}
                        <button type="submit" class="btn btn-warning btn-md">
                            Withdraw
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}