{% extends "base.html"%}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}"/>
{% endblock stylesheet %}

{% block content %}
<div class="account-wrapper">

    <div class="card-pad">
        <div class="card-body card-header">
            <h2>
                Account Info
            </h2>
        </div>
        <div class="card-body">
            <p class="card-text normal">
                {{ current_user.username |safe }} ( {{ current_user.email |safe}} )
            </p>
        </div>
        <div class="account-right">
            <p class="card-text number">
                ${{ current_user.balance }}
            </p>

            <p class="card-text mini">
                Available Balance
            </p>
        </div>

    </div>

    <div class="card-body">
        <div class="update">
            <form method="post" action="/deposit">
                <div class="input-box">
                    {{ form.csrf_token }}
                    {{ form.amount(class="form-control amount-input", type="number", placeholder="Enter Amount")
                    }}
                    <button type="submit" class="btn btn-primary fix-size">
                        Deposit
                    </button>
                </div>
            </form>

            <form method="post" action="/withdraw">
                <div class="input-box">
                    {{ form.csrf_token }}
                    {{ form.amount(class="form-control amount-input", type="number", placeholder="Enter Amount")
                    }}
                    <button type="submit" class="btn btn-warning btn-md fix-size">
                        Withdraw
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>
{% endblock %}