{% extends "base.html"%}

{% block stylesheet %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/auth.css') }}"/>
{% endblock stylesheet %}
{% block js %}
<script src="{{url_for('static', filename='confirm.js')}}"></script>
{% endblock %}
{% block content %}

<div class="auth-box">
    <div class="auth-wrapper">
        <h1>Create New Account</h1>
        <form method="post" action="/register">
            {{ form.csrf_token }}
            <!-- Username input -->
            <div class="form-outline mb-4">
                {{ form.username.label }}
                {{ form.username(type='text', class="form-control", required='', id="username", onChange="verifyUserName()")}}
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                {{ form.email.label }}
                {{ form.email(type='email', class="form-control", required='', id="email")}}
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                {{ form.password.label }}
                {{ form.password(type='password', class="form-control", required='', id="password", onChange="onChange()")}}
            </div>

            <!-- Retype Password input -->
            <div class="form-outline mb-4">
                {{ form.retyped_pwd.label(text='Retype your password') }}
                {{ form.retyped_pwd(type='password', class="form-control", required='', id="confirm", onChange="onChange()")}}
            </div>

            <!-- Initial deposit input -->
            <div class="form-outline mb-4">
                {{ form.balance.label }}
                {{ form.balance(type='number', step="0.01", class="form-control", required='')}}
            </div>

            <!-- Submit button -->
            <div class="upper-padding btn-wrapper">
                <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            </div>

        </form>
    </div>

</div>


{% endblock %}


